<html>
	<head>
		<meta charset="utf-8" />
	</head>
	<body></body>
	<script src="https://tixit.me/PluginTester.umd.js"></script>
	<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="by8mb3vsys1a607"></script>

	<script>
		registerPlugin(proto(Gem, function(){
			this.name = 'DropboxIntegration'

			this.initialize = function(options){
				return {
					filesListField: 'filesList',
					subfields: {
						nameField: 'name',
						linkField: 'link'
					}
				}
			}
			this.requireFields = function(options){
				var ticketFields = {}
				var filesListSubfields = {}
				ticketFields[options.filesListField] = {
					type: 'compound',
					list: true,
					fields: filesListSubfields
				}
				filesListSubfields[options.subfields.nameField] = {type: 'text'} 
				filesListSubfields[options.subfields.linkField] = {type: 'text'}
				return ticketFields
			}

			this.build = function(ticket, optionsObservee, api){
				var filesListField = optionsObservee.subject.filesListField
				var filesTable = Table()
				var linkCell
				var buttonOptions = {
					success: function(files){
						console.log('files ', files)
						files.forEach(function(file){
							filesTable.row([Text(file.name), Text(file.link)])
						})
					},
					cancel: function(){

					},
					linkType: 'preview',
					multiselect: true,
					folderSelect: true			
				}
				var button = Button()
				button.domNode = Dropbox.createChooseButton(buttonOptions)
				
				if(ticket.get(filesListField).subject.length > 0){
					var rows = ticket.get(filesListField).subject
					console.log('files for table ', rows)
					rows.forEach(function(row){
						linkCell = row.linkField
						filesTable.row([Text(row.nameField), Text(linkCell)])
					})
				}

				var testText = Text('1+1=2')
				this.add(Text('test'), button, filesTable,testText)

				// make the link clickable - not working (linkCell.on is not a function)
				linkCell.on('click', function(){
					console.log('clicked link ', linkCell)
					// open a new page to link
					// window.open('link')
				})

			}

			// for some reason getStyle isn't working
			this.getSyle = function(){
				return Style({
					Table: {
						TableCell: {
							width: 300
						},
						display: 'block'
					},
					Button: {
						display: 'block'
					},
					Text: {
						color: 'red'
					}
				})
			}
		}))

		PluginTester.Api.Ticket.create().then(function(testTicket){
			testTicket.subject.filesList = [{nameField: 'Picture of Dog', linkField: 'https://imgur.com/gallery/KGk9F'}]
			PluginTester('DropboxIntegration', {filesListField: 'filesList', subfields: {nameField: 'name', linkField: 'link'}}, {ticketId: testTicket.subject._id, showEditor: true})
		}).done()
   	</script>
</html>